# <span style="color:red">Connect

In [23]:
import sqlite3

In [24]:
sqliteConnection = sqlite3.connect('./college.db')

In [25]:
cursor = sqliteConnection.cursor()

In [26]:
print("Database created and Successfully Connected to SQLite")

Database created and Successfully Connected to SQLite

In [22]:
#sqliteConnection.close()

# <span style="color:red">Read

In [27]:
sqliteQuery = """SELECT * FROM student"""

In [28]:
cursor = sqliteConnection.execute(sqliteQuery)

In [29]:
print(cursor)

<sqlite3.Cursor object at 0x000002D1851DB180>

In [30]:
for x in cursor:
    print(x)

(101, 'John', 'Thailand')
(201, 'Mary', 'Indonesia')
(202, 'Amir', 'Singapore')
(203, 'Jane', 'Singapore')
(204, 'Ali', 'Malaysia')
(205, 'Wong', 'Malaysia')
(301, 'Meili', 'Thailand')
(302, 'Zelda', 'France')
(303, 'Oscar', 'Germany')

# <span style="color:red">Read in order

In [38]:
sqliteQuery = """SELECT * FROM student_subject ORDER BY stud_id"""

In [39]:
cursor = sqliteConnection.execute(sqliteQuery)

In [40]:
for x in cursor:
    print(x)

(201, 'Math', 46)
(201, 'Accounting', 78)
(202, 'Math', 67)
(202, 'Accounting', 52)
(203, 'Art', 97)
(203, 'Accounting', 55)
(204, 'Art', 64)
(204, 'Math', 80)
(205, 'Art', 71)
(205, 'Accounting', 50)

# <span style="color:red">Add new data and replace existing data

In [43]:
sqliteQuery = """INSERT OR REPLACE INTO student_subject
VALUES (206, 'Philosophy', 10)
"""

In [44]:
cursor = sqliteConnection.execute(sqliteQuery)

In [45]:
sqliteConnection.commit()

# <span style="color:red">Read in order

In [46]:
sqliteQuery = """SELECT * FROM student_subject ORDER BY stud_id"""

In [47]:
cursor = sqliteConnection.execute(sqliteQuery)

In [48]:
for x in cursor:
    print(x)

(201, 'Math', 46)
(201, 'Accounting', 78)
(202, 'Math', 67)
(202, 'Accounting', 52)
(203, 'Art', 97)
(203, 'Accounting', 55)
(204, 'Art', 64)
(204, 'Math', 80)
(205, 'Art', 71)
(205, 'Accounting', 50)
(206, 'Philosophy', 10)