# <span style="color:red">Connect

In [1]:
import sqlite3

In [2]:
sqliteConnection = sqlite3.connect('C:/Users/chi_k/Documents/Personal - John/Master Degree/General Assembly/my_da_ds_work/2023_05_13_sql_general_assembly_justin/college.db')

In [3]:
cursor = sqliteConnection.cursor()

In [4]:
print("Database created and Successfully Connected to SQLite")

Database created and Successfully Connected to SQLite

# <span style="color:red">Read

In [5]:
sqliteQuery = """SELECT * FROM student_result"""

In [6]:
cursor = sqliteConnection.execute(sqliteQuery)

In [7]:
print(cursor)

<sqlite3.Cursor object at 0x0000018469B532C0>

In [8]:
for x in cursor:
    print(x)

('201_Math', 201, 'Math', 46)
('201_Accounting', 201, 'Accounting', 78)
('202_Accounting', 202, 'Accounting', 52)
('203_Art', 203, 'Art', 97)
('203_Accounting', 203, 'Accounting', 55)
('204_Art', 204, 'Art', 64)
('204_Math', 204, 'Math', 80)
('205_Art', 205, 'Art', 71)
('205_Accounting', 205, 'Accounting', 50)
('206_English', 206, 'English', 10)
('206_Geography', 206, 'Geography', 100)
('202_Math', 202, 'Math', 5)

# <span style="color:red">Read in order

In [9]:
sqliteQuery = """SELECT * FROM student_result ORDER BY primary_key"""

In [10]:
cursor = sqliteConnection.execute(sqliteQuery)

In [11]:
for x in cursor:
    print(x)

('201_Accounting', 201, 'Accounting', 78)
('201_Math', 201, 'Math', 46)
('202_Accounting', 202, 'Accounting', 52)
('202_Math', 202, 'Math', 5)
('203_Accounting', 203, 'Accounting', 55)
('203_Art', 203, 'Art', 97)
('204_Art', 204, 'Art', 64)
('204_Math', 204, 'Math', 80)
('205_Accounting', 205, 'Accounting', 50)
('205_Art', 205, 'Art', 71)
('206_English', 206, 'English', 10)
('206_Geography', 206, 'Geography', 100)

# <span style="color:red">Add new data and replace existing data

In [12]:
sqliteQuery = """INSERT OR REPLACE INTO student_result
VALUES ('207_Philosophy',207,'Philosophy',22),
('207_GlobalStudies',207,'GlobalStudies',100),
('202_Math',202,'Math',50)"""

In [13]:
cursor = sqliteConnection.execute(sqliteQuery)

In [14]:
sqliteConnection.commit()

# <span style="color:red">Read in order

In [15]:
sqliteQuery = """SELECT * FROM student_result ORDER BY primary_key"""

In [16]:
cursor = sqliteConnection.execute(sqliteQuery)

In [17]:
for x in cursor:
    print(x)

('201_Accounting', 201, 'Accounting', 78)
('201_Math', 201, 'Math', 46)
('202_Accounting', 202, 'Accounting', 52)
('202_Math', 202, 'Math', 50)
('203_Accounting', 203, 'Accounting', 55)
('203_Art', 203, 'Art', 97)
('204_Art', 204, 'Art', 64)
('204_Math', 204, 'Math', 80)
('205_Accounting', 205, 'Accounting', 50)
('205_Art', 205, 'Art', 71)
('206_English', 206, 'English', 10)
('206_Geography', 206, 'Geography', 100)
('207_GlobalStudies', 207, 'GlobalStudies', 100)
('207_Philosophy', 207, 'Philosophy', 22)